<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="center">
    <mat-card-title>
      <h1>Prayer Requests</h1>
    </mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let prayerRequest of prayerRequests">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFill>
            <h2 matLine>{{prayerRequest.type}}</h2>
            <h3 matLine>Name: {{prayerRequest.name}}</h3>
            <h3 matLine>Date: {{prayerRequest.date}}</h3>
            <h3 matLine>Message: {{prayerRequest.message}}</h3>
            <button mat-icon-button (click)="delete(prayerRequest)">
              <mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
